body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #040404 !important;
  color: #fff !important;
  position: relative !important;
  background: transparent !important;
}


body::before {
  content: "" !important;
  position: fixed !important;
  background: #040404 url("./img/bg.jpg") top right no-repeat !important;
  background-size: cover !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  height: 100vh !important;
  z-index: -1 !important;
}
.page{
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed !important;
  }
}

a {
  color: #18d26e !important;
  text-decoration: none !important;
}

a:hover {
  color: #35e888 !important;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
}


#header {
  transition: ease-in-out 0.3s !important;
  position: relative !important;
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  z-index: 997 !important;
  overflow-y: auto !important;
}

#header * {
  transition: ease-in-out 0.3s !important;
}

#header h1 {
  font-size: 48px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif !important;
}

#header h1 a,
#header h1 a:hover {
  color: #fff !important;
  line-height: 1 !important;
  display: inline-block !important;
}

#header h2 {
  font-size: 24px !important;
  margin-top: 20px !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

#header h2 span {
  color: #fff !important;
  border-bottom: 2px solid #18d26e !important;
  padding-bottom: 6px !important;
}

#header img {
  padding: 0 !important;
  margin: 0 !important;
}

#header .social-links {
  display: flex !important;
}

#header .social-links a {
  font-size: 16px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
  line-height: 1 !important;
  margin-right: 8px !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
}

#header .social-links a:hover {
  background: #18d26e !important;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px !important;
    width: 100px !important;
  }

  #header h2 {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  #header .social-links {
    margin-top: 15px !important;
  }

  #header .container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

/* Header Top */
#header.header-top {
  height: 80px !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  background: rgba(0, 0, 0, 0.9) !important;
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none !important;
}

#header.header-top h1 {
  margin-right: auto !important;
  font-size: 36px !important;
}

#header.header-top .container {
  display: flex !important;
  align-items: center !important;
}

#header.header-top .navbar {
  margin: 0 !important;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px !important;
  }

  #header.header-top h1 {
    font-size: 26px !important;
  }
}

.navbar {
  padding: 0 !important;
  margin-top: 35px !important;
}

.navbar ul {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  list-style: none !important;
  align-items: center !important;
}

.navbar li {
  position: relative !important;
}

.navbar li+li {
  margin-left: 30px !important;
}

.navbar a,
.navbar a:focus {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 0.7) !important;
  white-space: nowrap !important;
  transition: 0.3s !important;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px !important;
  line-height: 0 !important;
  margin-left: 5px !important;
}

.navbar a:before {
  content: "" !important;
  position: absolute !important;
  width: 0 !important;
  height: 2px !important;
  bottom: -4px !important;
  left: 0 !important;
  background-color: #18d26e !important;
  visibility: hidden !important;
  width: 0px !important;
  transition: all 0.3s ease-in-out 0s !important;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible !important;
  width: 25px !important;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff !important;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff !important;
  font-size: 28px !important;
  cursor: pointer !important;
  display: none !important;
  line-height: 0 !important;
  transition: 0.5s !important;
  position: fixed !important;
  right: 15px !important;
  top: 15px !important;
}
@media (max-width: 991px) {

}

.navbar-mobile {
  position: fixed !important;
  overflow: hidden !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  background: rgba(0, 0, 0, 0.9) !important;
  transition: 0.3s !important;
  z-index: 999 !important;
  margin-top: 0 !important;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute !important;
  top: 15px !important;
  right: 15px !important;
}

.navbar-mobile ul {
  display: block !important;
  position: absolute !important;
  top: 55px !important;
  right: 15px !important;
  bottom: 45px !important;
  left: 15px !important;
  padding: 10px 0 !important;
  overflow-y: auto !important;
  transition: 0.3s !important;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
}

.navbar-mobile li {
  padding: 12px 20px !important;
}

.navbar-mobile li+li {
  margin: 0 !important;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px !important;
  position: relative !important;
}




section {
  /* overflow: hidden; */
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  /* opacity: 0; */
  transition: ease-in-out 0.4s;
  z-index: 2;
}


section.section-show {
  top: 100px !important;
  bottom: auto !important;
  opacity: 1 !important;
  padding-bottom: 45px !important;
}

section .container {
  background: rgba(0, 0, 0, 0.9) !important;
  padding: 30px !important;
}

@media (max-width: 768px) {
  section {
    top: 120px !important;
  }

  section.section-show {
    top: 80px !important;
  }
}

.section-title h2 {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 0 !important;
  line-height: 1px !important;
  margin: 0 0 20px 0 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  color: #aaaaaa !important;
  font-family: "Poppins", sans-serif !important;
}

.section-title h2::after {
  content: "" !important;
  width: 120px !important;
  height: 1px !important;
  display: inline-block !important;
  background: #4ceb95 !important;
  margin: 4px 10px !important;
}

.section-title p {
  margin: 0 !important;
  margin: -15px 0 15px 0 !important;
  font-size: 36px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  font-family: "Poppins", sans-serif !important;
  color: #fff !important;
}


#circle {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%);
width: 150px !important;
  height: 150px !important;	
}

.loader {
  width: calc(100% - 0px);
height: calc(100% - 0px);
border: 8px solid #162534;
border-top: 8px solid #18d26e;
border-radius: 50%;
animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 



.about-me .content h3 {
  font-weight: 700 !important;
  font-size: 26px !important;
  color: #18d26e !important;
}

.about-me .content ul {
  list-style: none !important;
  padding: 0 !important;
}

.about-me .content ul li {
  margin-bottom: 20px !important;
  display: flex !important;
  align-items: center !important;
}

.about-me .content ul strong {
  margin-right: 10px !important;
}

.about-me .content ul i {
  font-size: 16px !important;
  margin-right: 5px !important;
  color: #18d26e !important;
  line-height: 0 !important;
}

.about-me .content p:last-child {
  margin-bottom: 0 !important;
}

.counts {
  padding: 70px 0 60px !important;
}

.counts .count-box {
  padding: 30px 30px 25px 30px !important;
  width: 100% !important;
  position: relative !important;
  text-align: center !important;
  background: rgba(255, 255, 255, 0.08) !important;
}

.counts .count-box i {
  position: absolute !important;
  top: -25px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  font-size: 25px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  padding: 25px !important;
  color: #18d26e !important;
  border-radius: 50px !important;
  line-height: 0 !important;
}

.counts .count-box span {
  font-size: 36px !important;
  display: block !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.counts .count-box p {
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Raleway", sans-serif !important;
  font-size: 14px !important;
}






.skill{
  height: auto !important;
  width: 250px !important;
}



/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex !important;
  align-items: center !important;
  padding: 20px !important;
  background: rgba(255, 255, 255, 0.08) !important;
  transition: ease-in-out 0.3s !important;
}

.interests .icon-box i {
  font-size: 32px !important;
  padding-right: 10px !important;
  line-height: 1 !important;
}

.interests .icon-box h3 {
  font-weight: 700 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
  font-size: 16px !important;
  color: #fff !important;
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12) !important;
}





.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden !important;
}

.testimonials .testimonial-item {
  box-sizing: content-box !important;
  min-height: 320px !important;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px !important;
  border-radius: 50% !important;
  margin: -40px 0 0 40px !important;
  position: relative !important;
  z-index: 2 !important;
  border: 6px solid rgba(255, 255, 255, 0.12) !important;
}

.testimonials .testimonial-item h3 {
  font-size: 18px !important;
  font-weight: bold !important;
  margin: 10px 0 5px 45px !important;
  color: #fff !important;
}

.testimonials .testimonial-item h4 {
  font-size: 14px !important;
  color: #999 !important;
  margin: 0 0 0 45px !important;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.25) !important;
  font-size: 26px !important;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block !important;
  left: -5px !important;
  position: relative !important;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block !important;
  right: -5px !important;
  position: relative !important;
  top: 10px !important;
}

.testimonials .testimonial-item p {
  font-style: italic !important;
  margin: 0 15px 0 15px !important;
  padding: 20px 20px 60px 20px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  position: relative !important;
  border-radius: 6px !important;
  position: relative !important;
  z-index: 1 !important;
}

.testimonials .swiper-pagination {
  margin-top: 20px !important;
  position: relative !important;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #18d26e !important;
}




.resume .resume-title {
  font-size: 26px !important;
  font-weight: 700 !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: #fff !important;
}

.resume .resume-item {
  padding: 0 0 20px 20px !important;
  margin-top: -2px !important;
  border-left: 2px solid rgba(255, 255, 255, 0.2) !important;
  position: relative !important;
}

.resume .resume-item h4 {
  line-height: 18px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-family: "Poppins", sans-serif !important;
  color: #18d26e !important;
  margin-bottom: 10px !important;
}

.resume .resume-item h5 {
  font-size: 16px !important;
  background: rgba(255, 255, 255, 0.15) !important;
  padding: 5px 15px !important;
  display: inline-block !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

.resume .resume-item ul {
  padding-left: 20px !important;
}

.resume .resume-item ul li {
  padding-bottom: 10px !important;
}

.resume .resume-item:last-child {
  padding-bottom: 0 !important;
}

.resume .resume-item::before {
  content: "" !important;
  position: absolute !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 50px !important;
  left: -9px !important;
  top: 0 !important;
  background: #18d26e !important;
  border: 2px solid #18d26e !important;
}






.img-fluid{
  height: 200px !important;
  width: 400px !important;
}
.services .icon-box {
  text-align: center !important;
  background: rgba(204, 204, 204, 0.1) !important;
  padding: 80px 20px !important;
  transition: all ease-in-out 0.3s !important;
}

.services .icon-box .icon {
  margin: 0 auto !important;
  width: 64px !important;
  height: 64px !important;
  background: #18d26e !important;
  border-radius: 5px !important;
  transition: all 0.3s ease-out 0s !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 20px !important;
  transform-style: preserve-3d !important;
}

.services .icon-box .icon i {
  color: #fff !important;
  font-size: 28px !important;
}

.services .icon-box .icon::before {
  position: absolute !important;
  content: "" !important;
  left: -8px !important;
  top: -8px !important;
  height: 100% !important;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.15) !important;
  border-radius: 5px !important;
  transition: all 0.3s ease-out 0s !important;
  transform: translateZ(-1px) !important;
}

.services .icon-box h4 {
  font-weight: 700 !important;
  margin-bottom: 15px !important;
  font-size: 24px !important;
}

.services .icon-box h4 a {
  color: #fff !important;
}

.services .icon-box p {
  line-height: 24px !important;
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

.services .icon-box:hover {
  background: #18d26e !important;
  border-color: #18d26e !important;
}

.services .icon-box:hover .icon {
  background: #fff !important;
}

.services .icon-box:hover .icon i {
  color: #18d26e !important;
}

.services .icon-box:hover .icon::before {
  background: #35e888 !important;
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: #fff !important;
}






.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #18d26e;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #63eda3;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}






.portfolio-details {
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #18d26e;
}









.contact .info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #18d26e;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: #18d26e;
}

.contact .php-email-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #15bb62;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

.credits a {
  color: #18d26e;
  transition: 0.3s;
}

.credits a:hover {
  color: #fff;
}

#home {
  border-bottom: 2px solid #18d26e !important;
}